$font-color-link: #faaf08;
$font-color-code: #e3e548;
$bg-color-code-area: #1d345d;
$fs-inline-code: 0.8rem;
$fs-code-block: 1rem;

.markdown {
  margin-top: 2em;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2em;
  }

  h1,
  h2 {
    margin-bottom: 0.3125em;
  }

  h1 {
    font-size: 2em;
    border-bottom: 0.0625rem solid #00688833;
  }

  h2 {
    font-size: 1.75em;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5em;
  }

  a {
    color: $font-color-link;
    text-decoration: underline;
  }

  img {
    max-width: 90%;
  }

  ul {
    margin-left: 1.7em;

    li {
      margin: 1em 0;
    }
  }

  p {
    margin-top: 2em;

    code {
      font-size: $fs-inline-code;
      margin: 0 0.25em;
      padding: 0.25em;
      color: $font-color-code;
      background-color: $bg-color-code-area;
      border-radius: 3px;
    }
  }

  pre {
    padding: 1.25em;
    max-width: 95%;
    overflow-y: hidden;
    background-color: $bg-color-code-area;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 6px 10px;
    margin: 3em auto;
    border-radius: 10px;

    code {
      font-size: $fs-code-block;
      line-height: 1.8em;
      color: $font-color-code;
      background-color: inherit;
    }
  }
}
